*{
    margin:0;
    padding: 0;
  }
  
  body{
    font-size: 16px;
    font-family: Helvetica, 'Microsoft Yahei', SimHei, arial, sans-serif;
    background:#e3e3e3;
  }
  html,body{
  height: 100%;
  }
  .page{
    position: relative;
    width: 100%;
  }
  img{
    max-width: 100%;
    margin-bottom: 20px;
  }
  img + p{
    font-size: 13px;
    color: #ddd;
    text-align: center;
  }
  a{
    color: #a84fd5;
    text-decoration: none;
    transition: all .2s ease;
  }
  a:hover{
    color: #a84fd5;
  }
  h1{
    text-align: center;
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 40px;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-shadow: 0 6px 1px rgba(0,0,0,0.2);
    font-weight: 100;
  }

  h1 img{
    width: 480px;
  }
  h2{
    color: #333;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
  }
  ul{
    padding-left: 40px;
  }
  code{
    word-break: break-all;
  }
  .js-navbar{
  display: none;
  }
  .js-navbar.active{
    display: block;
    background-color: rgba(255, 255, 255, .95);
  }
  .doc-hd{
    min-height: 75vh;
    background: #2d323c url(http://img1.vued.vanthink.cn/vuededa8ad03ffa68d712b4219e3ea9c711c.jpeg) center bottom;
    background-size: cover;
    color:#a84fd5;
    text-align: center;
  }
  .doc-hd p {
    font-size: 20px;
    color: #ccc;
    padding: 20px 0;
  }
  .doc-hd .btn-install{
    padding: 12px 36px;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    background: #a84fd5;
    border:2px solid #a84fd5;
  }
  .btn-install:hover{
    color:#fff;
    border-color:#fff;
    background-color: transparent;
  }
  .doc .btn-primary{
    background-color: #a84fd5;
    color: #fff;
    border-color: #a84fd5;
  }
  .doc .btn{
    margin-bottom: 40px;
  }
  .doc .btn:hover{
    box-shadow: 0 2px 4px rgba(0,0,0, .25);
  }
  .contents{
    padding: 20px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.15);
    max-width: 720px;
    margin: 0 auto 40px auto;
  }
  
  .doc-ft{
    padding-top: 40px;
    padding-bottom: 30px;
    background: #2d323c;
    color:#555;
    font-size: 13px;
    text-align: center;
  }
  pre{
    border-width: 0px;
  }
  @media all and (max-width:960px) {
    h2,.doc,.img-wrap{
        width:95%;
        flex-wrap: wrap;
    }
    .img-wrap .item{
        width: 100%'
    }
    .js-navbar.active{
      display: none;
    }
  }
  /** view doc https://highlightjs.org **/
  .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f7f7f7;
  }
  .hljs,
  .hljs-subst {
  color: #2c3e50;
  }
  .hljs-comment {
  color: #999;
  }
  .hljs-keyword,
  .hljs-attribute,
  .hljs-selector-tag,
  .hljs-meta-keyword,
  .hljs-doctag,
  .hljs-name {
  font-weight: bold;
  }
  .hljs-type,
  .hljs-string,
  .hljs-number,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-quote,
  .hljs-template-tag,
  .hljs-deletion {
  color: #e74c3c;
  }
  .hljs-title,
  .hljs-section {
  color: #e74c3c;
  font-weight: bold;
  }
  .hljs-regexp,
  .hljs-symbol,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-link,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
  color: #bc6060;
  }
  .hljs-literal {
  color: #78a960;
  }
  .hljs-built_in,
  .hljs-bullet,
  .hljs-code,
  .hljs-addition {
  color: #16a085;
  }
  .hljs-meta {
  color: #2980b9;
  }
  .hljs-meta-string {
  color: #2980b9;
  }
  .hljs-emphasis {
  font-style: italic;
  }
  .hljs-strong {
  font-weight: bold;
  }
  
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: transparent;
  color: #f6e342;
  }
  .btn{
  transition: all .2s ease-in;
  padding: 8px 30px;
  }

  .loading-demo{
    position: relative;
    height: 240px;
    border:1px solid #ccc;
    margin: 20px 0;
  }
  
  .loading-box{
    position: relative;
    height: 100px;
    margin-bottom: 30px;
  }

