@font-face {
	font-family: 'Conv_CaviarDreams';
	src: url('../fonts/CaviarDreams.eot');
	src: local('☺'), url('../fonts/CaviarDreams.woff') format('woff'), url('../fonts/CaviarDreams.ttf') format('truetype'), url('../fonts/CaviarDreams.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    font-size: 16px;
    color: #454545;
    font-family: "Helvetica Neue",'Conv_CaviarDreams',Helvetica,Arial,sans-serif;
    font-weight: 100;
}
h1,h2,h3.h4,h5,p{
    font-weight: 100;
}
img{
    max-width: 100%;
}
a{
    color: #0fb283;
    text-decoration: none;
}
.hd{
    position: relative;
    height: 480px;
    padding-top: 140px;
    background: #277cb6 url('http://img1.vued.vanthink.cn/vuedbb220972d0f5071d1659546994fe259a.jpeg') no-repeat center center;
    text-align: center;
    color: #f1f1f1;
}

.avatar-box{
    overflow: hidden;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 80px;
    border: 5px solid rgba(255,255,255,.3);
    box-sizing: border-box;
    box-shadow: 0 5px 8px -2px rgba(0,0,0,.15);
}

.name{
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 120px;
    font-weight: 200;
}
.quote{
    position: relative;
    line-height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
}
.main{
    min-height: 360px;
    padding: 20px;
    background: #f2f2f2;
}
.main .tab{
    display: none;
    position: relative;
    max-width: 720px;
    margin: 0 auto;
}
.main .tab.active{
    display: block;
}
.main .tab .title{
    text-align: center;
    padding: 20px 0 40px;
    font-weight: 500;
}
.main .tab p{
    padding: 20px 0;
    font-weight: 200;
    color: #555;
}
.main .tab p .pre-label{
    display: inline-block;
    padding-right: 20px;
    color: #999;
    width: 80px;
}
.main .tab p .pre-label .icon{
    width: 1em;
    height: 1em;
}
.tag{
    display: inline-block;
    margin-right: 5px;
    padding: 0 3px;
    border-radius: 2px;
    color: #444;
}
.tag:hover{
    background: #e3e3e3;
    color:#1583c9;
}
.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.photo {
    overflow: hidden;
    width: 210px;
    height: 170px;
    padding: 5px;
    margin-top:40px;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.35);
    border-radius: 2px;
    background: #fff;

}
.tab ul {
    padding-bottom: 35px;
}
.tab ul li {
    font-weight: 400;
    padding: 20px;
}
.tab .prize{
    color:crimson;

}
.tab-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	fill: currentColor;
}

.social-sites{
    height: 400px;
    text-align: center;
}

.sns-icon,.tab-item{
    display: inline-block;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 200px 20px 40px;
    border-radius: 4px;
    line-height: 80px;
    transition: all .25s ease;
    color: #fff;
}
.tab-item{
    margin: 40px 20px 40px;
}

.icon{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: url('../images/sns-png.png') no-repeat 0 0;
    background-size: 40px auto;
}
.icon.svg-icon{
    width: 30px;
    height: 30px;
    background: none;
    fill: currentColor;
}
.tab-item:hover,.tab-item.active{
    background: #fff;
}
.tab-item:hover .svg-icon,.tab-item.active  .svg-icon{
    fill: #1f8aea;
}
.icon-fb{
    background-position: 0 -200px;
}
.sns-icon:hover .icon-fb{
    background-position: 0 0;
}
.sns-icon.fb:hover{
    background-color: #3b5998;
}
.icon-gp{
    background-position: 0 -240px;
}
.sns-icon:hover .icon-gp{
    background-position: 0 -40px;
}
.sns-icon.gp:hover{
    background-color: #ed5651;
}
.icon-github{
    background-position: 0 -280px;
}
.sns-icon:hover .icon-github{
    background-position: 0 -80px;
}
.sns-icon.github:hover{
    background-color: #010101;
}
.icon-ins{
    background-position: 0 -320px;
}
.sns-icon:hover .icon-ins{
    background-position: 0 -120px;
}
.sns-icon.ins:hover{
    background-color: #1583c9;
}
.icon-be{
    background-position: 0 -360px;
}
.sns-icon:hover .icon-be{
    background-position: 0 -160px;
}
.sns-icon.be:hover{
    background-color: #4486f6;
}


.copyright{
    padding-top: 60px;
    line-height: 40px;
    color:#c2d2e2;
    font-size: 13px;
    text-align: center;
}
/**hide scroll**/
.jvectormap-zoomin, .jvectormap-zoomout {
    display: none;
}
