body{
    font-size: 63.5%;
    background-color: #eee;
}
.bannar{
  height: 42rem;
  background: #545762 url(http://img1.vued.vanthink.cn/vued45625dc2ae91388364f60ddaedf1af84.jpeg) no-repeat center bottom;
  background-size: cover;
}
.doc{
  max-width: 920px;
  margin: 2rem auto;
  margin-top: -120px;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0,0,0,.2);
}
h1{
    padding: 20px;
    background-color: #fff;
    font-size: 3rem;
}
video{
    display: block;
    background-color: #000;
}
h2,h3{
  text-align:center;
}
h3{
    font-size: 1.4rem;
}
h5{
    padding: 1rem 2rem;
    background-color: #fff;
}
.video-area{
    position: relative;
    max-width: 720px;
    height: 480px;
    margin: 0 auto;
}
.video-area .log{
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 20px;
    padding-top: 20px;
    background-color: rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .35s ease-in;
}
.video-area .log.active{
    display: block;
}
.video-area .log.fadeout{
    opacity: 0.4;
}
.video-area .btn{
    height: 40px;
}
.video-area .log-item{
    color: #54ab3d;
}
@media all and (max-width:720px) {
    .doc{
        padding: 5px;
    }
}
table{
    font-size: 1.4rem;
}
