<style type="text/css">
    .c-home{
        width: 720px;
        text-align: center;
    }
    .c-home img{
        width: 480px;
    }
    .c-home .btn-wrap{
        text-align: center;
    }
    .c-home .btn{
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        border-radius: 25px;
    }
    .c-home .tips{
        padding: 15px 0;
    }
</style>
<div class="components c-home">
    <p>
        <img src="./img/svg-guide.jpg" alt="svg guide" title="svg guide">
    </p>
    <p class="btn-wrap">
        <a class="btn btn-primary" href="#get-started">快速开始</a>
    </p>
    <p>这是一篇关于学习svg的个人笔记，欢迎阅读，写的如果有什么不到位的地方，你可以联系作者</p>
</div>

